<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/shared :: common-header"/>
<body>
	<header th:replace="common/shared :: navbar ">
	</header>
		
	<main>

	<div class="container box">
	
	
		<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
				<div class="row" style="margin-top: 25px;border: 2px solid black;background-image:linear-gradient(to bottom, #5C6F6E, #8e9eab, #5C6F6E);">
					<form th:action="@{/store}" method="post" th:object="${preferences}">
					<div class="col-xs-4" style="margin-bottom: 25px;">
						<div class="control-group">
							<h4>Genres</h4>
							<div class="controls"
								th:each="genre: ${T(com.videogamestore.domain.enumeration.Genre).values()}">
								<input type="checkbox" th:value="${genre}" th:utext="${#strings.replace(genre,'_','-')}" th:field="*{preferredGenres}"/>
								<br />
							</div>
						</div>
					</div>
					
					<div class="col-xs-4">
						<div class="control-group">
							<h4>Supported Languages</h4>
							<div class="controls"
								th:each="lang: ${T(com.videogamestore.domain.enumeration.Language).values()}">
								<input type="checkbox" th:value="${lang}" th:text="${lang}" th:field="*{supportedLanguages}"/>
								<br />
							</div>
						</div>
					</div>

					<div class="col-xs-4">
							<h4>Age Labels</h4>
						<div class="checkbox"
								th:each="pegi: ${T(com.videogamestore.domain.enumeration.PEGI).values()}">								
									<label>
									<input type="checkbox" th:value="${pegi}" th:field="*{pegiRatings}"></input>
									<img	
										style="max-width: 30px; max-height: 30px;"
										th:src="#{adminPath}+@{/image/PEGI/}+${pegi}+'.png'" />
									</label>							
						</div>
					</div>		
					
					<button class="btn btn-md btn-block btn-success" type="submit">Apply</button>
					</form>
				</div>
				<h2 class="section-title" th:text="' Games Found: '+${entries}"> Games</h2>

				<hr/>

	<!-- Games section -->
	<!-- ================ -->
		
		<div th:if="${emptyList}">
			<p>oops gamelist not found...</p>
		</div>
		
		 
		<th:block th:each="game : ${gameList}">
			<div class="col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2" th:if="${game != null}">
				<div class="card" style="position:relative;">
					<a th:href="@{'/game?id=' + ${game.id}}"><img class="card-img-top" th:src="#{adminPath}+@{/image/game/}+${game.id}+'.jpg'" alt="Card image cap"/></a>
					
						<div
							style="position: absolute; top: 0; right: 0; border-radius: 0; opacity: 0.9; background-color: gray; width: 100%;"
							class="text-center">
							<strong class="text-dark" th:text="'$ '+${game.discountPrice}"></strong>
							<del style="color: red;">
								<small th:if="${game.discountPrice != game.listPrice}"
									th:text="'$ '+${game.listPrice}"></small>
							</del>
						</div>
					
					<div class="card-body text-center">
						<strong th:text="${game.title}">Game Title</strong>
					</div>
				</div>
			</div>	
		</th:block>	

		</div>
		</div>

		<!-- main body goes here -->
		

	</div>
	<!-- /container --> 
	
	</main>

	<footer th:replace="common/shared :: footer"></footer>


	<div th:replace="common/shared :: bottom-scripts"></div>


</body>

</html>