<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/shared :: common-header"/>
<body>
	<header th:replace="common/shared :: navbar ">
	</header>
		
	<main>

	<div class="container box">
	

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
		<!-- main body goes here -->
			<h3 style="margin:auto;margin-top: 250px;" class="text-center text-warning">Oops... Page Not Found!!! Please navigate through the navigation bar. </h3>
		
		</div>
	
	</div>

	</div>
	<!-- /container --> 
	
	</main>

	<footer th:replace="common/shared :: footer"></footer>


	<div th:replace="common/shared :: bottom-scripts"></div>


</body>

</html>